html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 32px;
}
#sticky-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 32px;
    width: 100%;
}
.container-fluid {
	max-width: 1196px;
}
.store-badge {
	padding-bottom: 10px;
}