  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="pull-left"><img src="/images/navbar_logo.png"></a>
          <a class="navbar-text text-center visible-xs" href="/">ozerogames</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% is index.html %}class="active"{% endis %}><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li {% is samesweeper/index.html %}class="active"{% endis %}><a href="/samesweeper">Same Sweeper <i>(in development)</i></a></li>
                <li class="divider"></li>
                <li {% is gamejams/index.html %}class="active"{% endis %}><a href="/gamejams">Gamejams</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-center hidden-xs">
            <a class="navbar-text" href="/">ozerogames</a>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li {% is about.html %}class="active"{% endis %}><a href="/about.html">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
