<!DOCTYPE html>
<html lang="en">
<head>
  {% include templates/head.html %}
  <meta name="description" content="Same Sweeper is a challenging free mobile puzzle game for android.">
  <meta name="keywords" content="mobile, game, puzzle, casual, indie, android">
  <title>ozerogames ~ samesweeper</title>  
</head>
<body>
  {% include templates/navbar.html %}
  <div class="container-fluid">
    
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-8">
            <h4><img src="images/logo.png" class="img-responsive" alt="Same Sweeper"></h4>
            <h5>About</h5>
            <p>
              <strong>Same Sweeper</strong> is a mobile puzzle game being developed for Android. It's based on a classic game called SameGame<sup><a href="https://en.wikipedia.org/wiki/SameGame" title="SameGame on wikipedia">[1]</a></sup> in which you are trying to clean a grid of tiles by removing groups of adjacent tiles with the same color. In Same Sweeper, you can remove selected tiles (and move the rest of the grid) by swiping in any of the four cardinal directions.
            </p>
            <p>
              There are two main modes in the game &mdash;"Random Game" and "Daily Challenge". <i>Random Game</i> is played on randomly generated grid (three different sizes avaialable) and the goal is to achieve highest score possible. <i>Daily Challenge</i> presents a new pre-made level with a specific goal each day.
            </p>

            <h5>Play it</h5>
            <div class="row">
              <div class="col-md-3">
                <a><img src="/images/android_45.png" height="45px" alt="Get Same Sweeper for Android"></a>
              </div>
              <div class="col-md-3">
                <a><img src="/images/ios.svg" height="45px" alt="Get Same Sweeper for iOS"></a>
              </div>
<!--               <div class="col-md-3">
                <a><img src="/images/windows_black.png" height="45px" alt="Get Same Sweeper for Windows Phone"></a>
              </div> -->
            </div>


            <h5>Media</h5>
            <p>
              Images, videos, tweets...
            </p>

            <h5>Development milestones</h5>
              <ul class="list-unstyled">
                <li><strong>2015/11/21</strong> Game announced</li>
              </ul>

        </div>


        <div class="col-xs-6 col-md-4">
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><strong>Details</strong></h4>
              </div>
              <div class="panel-body">
                <div class="text-center"><img src="images/icon.png" width="96px" alt="Same Sweeper Icon"></div>
                <dl class="dl-horizontal">
                  <dt>Genre</dt><dd>Puzzle, Casual</dd>
                  <dt>In development since</dt><dd>2015/02/02</dd>
                  <dt>Development status</dt><dd>Active</dd>
                  <dt>Release date</dt><dd>-</dd>
                  <dt>Platforms</dt><dd>- </dd>
                </dl>
              </div>
            </div>

        </div>

    </div>


    {% include templates/footer.html %}
  </div>
  {% include templates/footer_scripts.html %}
</body>
</html>