<!DOCTYPE html>
<html lang="en">
<head>
  {% include templates/head.html %}
  <title>ozerogames ~ contacts</title>
</head>
<body>
  {% include templates/navbar.html %}
  <div class="container-fluid">
  	
  	<h4>Contacts</h4>

  	<h5>twitter</h5>
  	<ul>
  		<li><a href="https://twitter.com/ozerogames">@ozerogames</a></li>
  		<li><a href="https://twitter.com/rplnt">@rplnt</a></li>
  	</ul>

  	<h5>email</h5>
  	<ul>
  		<li><a href="mailto:games@o0.sk">games@o0.sk</a></li>
  	</ul>


    {% include templates/footer.html %}
  </div>
  {% include templates/footer_scripts.html %}
</body>
</html>
