<!DOCTYPE html>
<html lang="en">
<head>
  {% include templates/head.html %}
  <title>ozerogames ~ o0</title>  
</head>
<body>
  {% include templates/navbar.html %}
  <div class="container-fluid">
    <div class="row">

    	<div class="col-xs-12 col-sm-6 col-md-8">
        <h4>Quick Info</h4>
        <h5>Who are we?</h5>
        <p>There is no <i>we</i> in ozerogames - this is an imaginary entity for a one-man gamedev hobby.</p>

        <h5>So who am I?</h5>
        <p>My name is rplnt (not really) and I like to make games. In theory at least. You can find me on <a href="https://twitter.com/rplnt">twitter</a> or <a href="https://github.com/rplnt">github</a>.</p>

        <h5>What kind of games do I make?</h5>
        <p>For now, what you can find here are simple casual games, primarily for mobile. See the <i>Games</i> section in the menu above. I'd like work on more complex games eventually, but actually finishing games is my priority right now.</p>

        <h5>You want to know more?</h5>
        <p>Follow "us" on twitter (<a href="https://twitter.com/ozerogames">@ozerogames</a>) to get news and updates. For detailed progress (and a bit of offtopic) you can follow my personal twitter account (<a href="https://twitter.com/rplnt">@rplnt</a>). Feel free to ask any questions there, or if you prefer email, you can find it in the <a href="contacts.html">Contacts</a> section.</p>
    	</div>

    	<div class="col-xs-6 col-md-4">
        <h4>News & Updates</h4>
        <a class="twitter-timeline" data-chrome="nofooter noheader" data-dnt="true" href="https://twitter.com/ozerogames" data-widget-id="680695914047139840">Tweets by @ozerogames</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    	</div>

    </div>
    {% include templates/footer.html %}
  </div>
  {% include templates/footer_scripts.html %}
</body>
</html>
