<!DOCTYPE html>
<html lang="en">
<head>
  {% include templates/head.html %}
  <title>ozerogames</title>
  <meta name="keywords" content="indie, game, development">
</head>
<body>
  {% include templates/navbar.html %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-8">
        <h4>News</h4>

        <small>2015/12/28</small>
        <h5 style="margin-top: 0px">Site launched!</h5>
        <p>
          First version of our website is finally live. There's not much to share just now.
        </p>

      </div>

      <div class="col-xs-6 col-md-4">
        <h4>Quick Updates</h4>
        <a class="twitter-timeline" data-chrome="nofooter noheader" data-dnt="true" href="https://twitter.com/ozerogames" data-widget-id="680695914047139840">Tweets by @ozerogames</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

    </div>
    {% include templates/footer.html %}
  </div>
  {% include templates/footer_scripts.html %}
</body>
</html>
